@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  /* background: rgb(0,100,0,.2); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(80, 80, 80);
}

span {
  color: rgb(145, 125, 0);
}

.displayCard {
  border-radius: 1;
  background: rgb(230,230,230);
}

.cardImg {
  border-radius: 0;
  padding-top: 10px;
}